.smile-button {
  width: 49px;
  height: 49px;
  padding: 0;

  background: url("/src/assets/sprites/minesweeper-sprites.png");
  background-size: 250px;
  background-repeat: no-repeat;
  border: none;
}

.default {
  background-position: 1px -42px;
}

.default-active {
  background-position: -48px -42px;
}

.cell-clicked {
  background-position: -96px -42px;
}

.win {
  background-position: -144px -42px;
}

.lose {
  background-position: -192px -42px;
}
