.smile-button {
  width: 49px;
  height: 49px;
  padding: 0;

  background: url("/src/assets/sprites/minesweeper-sprites.png");
  background-position: 1px -42px;
  background-size: 250px;
  background-repeat: no-repeat;
  border: none;
}
